body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: url('../assets/background.png') no-repeat center center fixed;
  background-size: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  cursor: url("../assets/mallet.png")pointer;
}

.hole {
  position: relative;
  width: 100px;
  height: 100px;
  background: url('../assets/hole.png') no-repeat center center;
  background-size: cover;
}

.vamp {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  background-size: cover;
  display: none;
}

.vamp1 {
  background: url('../assets/vamp1.png') no-repeat center center;
}

.vamp2 {
  background: url('../assets/vamp2.png') no-repeat center center;
}

.vamp3 {
  background: url('../assets/vamp3.png') no-repeat center center;
}

.vamp4 {
  background: url('../assets/vamp4.png') no-repeat center center;
}

.show .vamp {
  display: block;
}
